/* Variáveis */

:root {

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-verde: #36E623;
  --cor-verde-escuro: #005710;

  --fonte-estilo: 'awakenning';
  --fonte-extrabold: 'clarikaExtrabold';

}
