/* INDEX > HEADER */

header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

/* Título */

header .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
}

header .titulo button.instagram {
  font-family: var(--fonte-extrabold);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-branco);
  background-color: transparent;
  margin: 0 0 20px 0;
  transition: all 0.3s;
}

header .titulo button.instagram span {
  opacity: 0.6;
  pointer-events: none;
}

header .titulo button.instagram:hover {
  opacity: 0.7;
}

header .titulo h1 {
  font-family: var(--fonte-estilo);
  font-size: clamp(4rem, 5vw, 10rem);
  color: var(--cor-branco);
}

header .titulo h1 span {
  color: var(--cor-verde);
}

header .titulo h2 {
  font-family: var(--fonte-estilo);
  font-size: clamp(4rem, 5vw, 10rem);
  color: var(--cor-branco);
}

header .titulo h2 span {
  color: var(--cor-verde);
}

header .titulo button.assinar {
  font-family: var(--fonte-extrabold);
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  color: var(--cor-verde-escuro);
  background-color: var(--cor-verde);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px var(--cor-verde);
  transition: all 0.3s;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #34ce23 20%, #36E623 40%, #59ff46 60%, #34ce23 80%);
  background: -webkit-linear-gradient(to right, #34ce23 20%, #36E623 40%, #59ff46 60%, #34ce23 80%);
  background-size: 200% auto;
  animation: gradienteMexendo 1s linear infinite;
}

@keyframes gradienteMexendo {
  to {
    background-position: 200% center;
  }
}

header .titulo button.assinar:hover {
  color: var(--cor-branco);
}

/* IMG > eduardo */

header img.eduardo {
  height: 105vh;
  max-height: 105vh;
  min-height: 105vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  animation: animacaoImgEduardo 10s infinite linear;
}

@keyframes animacaoImgEduardo {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* IMG > blush topo */

header img.blush.topo {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  pointer-events: none;
  animation: animacaoImgBlush 10s infinite linear;
}

@keyframes animacaoImgBlush {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* IMG > blush base */

header img.blush.base {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  pointer-events: none;
  animation: animacaoImgBlush 10s infinite linear;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    height: auto;
    max-height: auto;
  }
  header .titulo {
    left: 0;
    top: 50px;
    transform: translate(0, 0);
    width: 100%;
  }
  header .titulo button.instagram {
    font-size: clamp(0.8rem, 5vw, 1rem);
    padding: 0 30px;
  }
  header .titulo h1 {
    font-size: clamp(3rem, 5vw, 8rem);
    padding: 0 30px;
  }
  header .titulo h2 {
    font-size: clamp(3rem, 5vw, 8rem);
    padding: 0 30px 30px 30px;
  }
  header .titulo button.assinar {
    padding: 30px;
    border-radius: 0;
    width: 100%;
  }
  header img.eduardo {
    height: auto;
    max-height: auto;
    min-height: auto;
    width: 130%;
    top: 40%;
    right: inherit;
    left: 0;
  }
  header img.blush.topo {
    width: 100%;
    top: 0;
    left: 0;
  }
  header img.blush.base {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  header .titulo h1 {
    font-size: clamp(2.5rem, 5vw, 8rem);
  }
  header .titulo h2 {
    font-size: clamp(2.5rem, 5vw, 8rem);
  }
}

@media screen and (max-width: 330px) {
  header .titulo h1 {
    font-size: clamp(2rem, 5vw, 8rem);
  }
  header .titulo h2 {
    font-size: clamp(2rem, 5vw, 8rem);
  }
}
